.responsive{
    display:flex !important;
    background-color:peachpuff;
    flex-direction:column;
    position: absolute;
    height: 35%;
    width: 100%;
    top: 80px;
    left: 0;
    padding: 25px 0 25px 0px;
    margin-top:0;
}